@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=text],
input[type=number],
input[type=date],
input[type=time],
select {
    @apply block rounded border border-gray-400 w-full
}

body {
    background-color: #334455;
    background-image: url('../../public/img/mdc_cover_darkened.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
